<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::body})">

<body>
<div class="home">
    <div class="banner-container">
        <img th:src="@{/images/banner.png}" alt="banner">
    </div>
</div>

<h2>Repertuar</h2>

<div>
    <a th:href="@{/(date=${selectedDate.minusDays(1)})}">←</a>
    <strong th:text="${selectedDate}"></strong>
    <a th:href="@{/(date=${selectedDate.plusDays(1)})}">→</a>
</div>

<hr>

<div th:if="${#maps.isEmpty(repertoire)}">
    <p>Brak seansów w tym dniu</p>
</div>

<div th:each="entry : ${repertoire}">
    <h3 th:text="${entry.key.title}"></h3>

    <div>
        <span th:each="show : ${entry.value}">
            <a th:href="@{/showtimes/{id}(id=${show.id})}">
                <span th:text="${#temporals.format(show.startTime, 'HH:mm')}"></span>
            </a>
            &nbsp;
        </span>
    </div>

    <hr>
</div>

</body>
</html>
