<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
      th:fragment="layout(content)">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'Sigma Cinema'"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header>
    <h1>Sigma Cinema</h1>
    <nav>
        <a th:href="@{/}">Strona główna</a>
        <a th:href="@{/movies}">Filmy</a>
        <a th:href="@{/showtimes}">Seanse</a>
    </nav>
</header>

<main>
    <div th:replace="${content}"></div>
</main>

<footer>
    <p>© 2026 Sigma Cinema - Michalina Łeńska</p>
</footer>

</body>
</html>
