<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::body})">

<body>

<h2>Dostępne seanse</h2>

<table border="1">
    <thead>
    <tr>
        <th>Film</th>
        <th>Sala</th>
        <th>Data i godzina</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="show : ${showtimes}">
        <td th:text="${show.movie.title}"></td>
        <td th:text="${show.room.name}"></td>
        <td th:text="${#temporals.format(show.startTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td>
            <a th:href="@{/showtimes/{id}(id=${show.id})}">Kup</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
